<div class="row">
    <div class="col-12">
        <div class="card marginTop10 marginBottom10">
            <div class="card-header">
                <h2 class="d-inline"
                    ><i class="fa fa-fw fa-clock"></i><strong> Week {{ this.route.snapshot.params['week'] }} van</strong>
                    <button
                        pButton
                        pRipple
                        [label]="busChauffeur.voornaam + ' ' + busChauffeur.achternaam"
                        class="p-button-secondary p-button-outlined p-mr-2 naamButton"
                        (click)="redirectTo('buschauffeur-info', busChauffeur)"
                        style="margin-left: 0.7em; margin-right: 0.7em"
                    ></button>
                    <strong>wijzigen</strong></h2
                >
                <button
                    pButton
                    pRipple
                    label="Reset naar template"
                    icon="pi pi-refresh"
                    class="p-button-info p-mr-2 float-right"
                    (click)="reset()"
                    style="margin-right: 0.5em"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Wijzigingen ongedaan maken"
                    icon="pi pi-refresh"
                    class="p-button-info p-mr-2 float-right"
                    (click)="wijzigingenOngedaanMaken()"
                    [disabled]="this.compare()"
                    style="margin-right: 0.5em"
                ></button>
                <button
                    *ngIf="!effectieveDienstenAanHetBewerken"
                    pButton
                    pRipple
                    label="Opslaan"
                    icon="pi pi-save"
                    class="p-button-success p-mr-2 float-right"
                    (click)="effectieveDienstenAanpassen()"
                    [disabled]="this.compare()"
                    style="margin-right: 0.5em"
                ></button>
                <button
                    *ngIf="effectieveDienstenAanHetBewerken"
                    pButton
                    pRipple
                    label="Opslaan"
                    icon="pi pi-spin pi-spinner"
                    class="p-button-success p-mr-2 float-right"
                    style="margin-right: 0.5em"
                ></button>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <p-table
                        #dt
                        [resizableColumns]="true"
                        [autoLayout]="true"
                        [value]="bewerkteEffectieveDiensten"
                        editMode="row"
                        [globalFilterFields]="['naam', 'start', 'einde', 'andereMinuten', 'type.label']"
                        [(selection)]="geselecteerdeDiensten"
                        [expandedRowKeys]="expandedRows"
                        [rowHover]="true"
                        dataKey="dataKey"
                        [showCurrentPageReport]="true"
                        [loading]="effectieveDienstenAanHetBewerken"
                        sortField="naam"
                    >
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input
                                        pInputText
                                        type="text"
                                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Zoeken..."
                                    />
                                </span>
                                <button
                                    pButton
                                    pRipple
                                    [label]="'Verwijderen'"
                                    icon="pi pi-trash"
                                    class="p-button-danger float-right"
                                    (click)="this.deleteEffectieveDienst(geselecteerdeDiensten)"
                                    [disabled]="!geselecteerdeDiensten || !geselecteerdeDiensten.length"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    label="Dienst toevoegen"
                                    icon="pi pi-plus"
                                    class="p-button-warning p-mr-2 float-right"
                                    style="margin-right: 0.5em"
                                    (click)="addEffectieveDienst()"
                                ></button>
                                <p-autoComplete
                                    autoHighlight="true"
                                    placeholder="Dienst toevoegen"
                                    class="p-button-warning p-mr-2 float-right"
                                    [style]="{marginRight: '0.5em'}"
                                    [(ngModel)]="dienstAutocomplete"
                                    (onSelect)="this.changedDienstAutocomplete($event)"
                                    field="naam"
                                    [suggestions]="searchResults"
                                    (completeMethod)="dienstZoekenByName($event)"
                                ></p-autoComplete>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <th style="width: 3rem"></th>
                            <tr>
                                <th style="width: 3rem"></th>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="naam">Naam <p-sortIcon field="naam"></p-sortIcon> </th>
                                <th pSortableColumn="start">Start <p-sortIcon field="start"></p-sortIcon> </th>
                                <th pSortableColumn="einde">Einde <p-sortIcon field="einde"> </p-sortIcon> </th>
                                <th pSortableColumn="andereMinuten">Andere minuten <p-sortIcon field="andereMinuten"> </p-sortIcon> </th>
                                <th pSortableColumn="type">Type <p-sortIcon field="type"> </p-sortIcon> </th>
                                <th style="width: 7rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-editing="editing" let-expanded="expanded" let-ri="rowIndex">
                            <tr [pEditableRow]="item">
                                <td>
                                    <button
                                        *ngIf="item.type == 1"
                                        type="button"
                                        pButton
                                        pRipple
                                        [pRowToggler]="item"
                                        class="p-button-text p-button-rounded p-button-plain"
                                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                    ></button>
                                </td>
                                <td>
                                    <p-tableCheckbox [value]="item"></p-tableCheckbox>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input [disabled]="item.type > 1" pInputText type="text" [(ngModel)]="item.naam" (focusout)="dt.sortSingle()"/>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.naam != null">{{ item.naam }}</span>
                                            <span *ngIf="item.naam == null" class="red-placeholder">Naam</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input
                                                *ngIf="item.type == 1"
                                                pInputText
                                                type="datetime-local"
                                                max="9999-12-31T23:59"
                                                [ngModel]="item.start !== null ? (item.start | date: 'yyyy-MM-ddTHH:mm') : ''"
                                                (ngModelChange)="item.start = newDate($event); changeDag(item, $event)"
                                            />
                                            <input
                                                *ngIf="item.type > 1"
                                                pInputText
                                                type="date"
                                                [ngModel]="item.start !== null ? (item.start | date: 'yyyy-MM-dd') : ''"
                                                (ngModelChange)="item.start = newDate($event); changeDag(item, $event)"
                                            />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.start != null && item.type == 1"
                                                >{{ item.start !== null ? (item.start | date: 'dd-MM-yyyy HH:mm') : '' }}
                                            </span>
                                            <span *ngIf="item.start != null && item.type > 1">{{
                                                item.start !== null ? (item.start | date: 'dd-MM-yyyy') : ''
                                            }}</span>
                                            <span *ngIf="item.start == null" class="red-placeholder">Start</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input
                                                *ngIf="item.type == 1"
                                                pInputText
                                                type="datetime-local"
                                                max="9999-12-31T23:59"
                                                [ngModel]="item.einde !== null ? (item.einde | date: 'yyyy-MM-ddTHH:mm') : ''"
                                                (ngModelChange)="item.einde = newDate($event); changeDag(item, $event)"
                                            />
                                            <input
                                                *ngIf="item.type > 1"
                                                pInputText
                                                type="date"
                                                [ngModel]="item.einde !== null ? (item.einde | date: 'yyyy-MM-dd') : ''"
                                                (ngModelChange)="item.einde = newDate($event); changeDag(item, $event)"
                                            />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.einde != null && item.type == 1">{{
                                                item.einde !== null ? (item.einde | date: 'dd-MM-yyyy HH:mm') : ''
                                            }}</span>
                                            <span *ngIf="item.einde != null && item.type > 1">{{
                                                item.einde !== null ? (item.einde | date: 'dd-MM-yyyy') : ''
                                            }}</span>
                                            <span *ngIf="item.einde == null" class="red-placeholder">Einde</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input *ngIf="item.type == 1" pInputText type="number" [(ngModel)]="item.andereMinuten" />
                                            <span *ngIf="item.type > 1" class="grey-placeholder">-</span>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.andereMinuten == null && item.type > 1" class="grey-placeholder">-</span>
                                            <span *ngIf="item.andereMinuten != null && item.type == 1">{{ item.andereMinuten }}</span>
                                            <span *ngIf="item.andereMinuten == null && item.type == 1" class="red-placeholder">Andere minuten</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown
                                                appendTo="body"
                                                [style]="{width: '100%'}"
                                                [options]="dienstTypes"
                                                optionLabel="label"
                                                [(ngModel)]="item.type"
                                                (ngModelChange)="changeDienstType(item, $event)"
                                            >
                                            </p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.type != null">{{ dienstTypes[item.type].label }}</span>
                                            <span *ngIf="item.type == null" class="red-placeholder">Type</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="text-align: center">
                                    <button
                                        pButton
                                        pRipple
                                        icon="pi pi-trash"
                                        class="p-button p-button-danger"
                                        (click)="deleteEffectieveDienst([item])"
                                    ></button>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="rowexpansion" let-item>
                            <tr>
                                <td colspan="8">
                                    <div class="p-p-3">
                                        <p-table [value]="item.effectieveOnderbrekingen" dataKey="dataKey" editMode="row">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pSortableColumn="effectieveStart"
                                                        >Start <p-sortIcon field="effectieveStart"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="effectiefEinde">Einde <p-sortIcon field="effectiefEinde"></p-sortIcon> </th>
                                                    <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon> </th>
                                                    <th>
                                                        <button
                                                            pButton
                                                            pRipple
                                                            label="Onderbreking toevoegen"
                                                            icon="pi pi-plus"
                                                            class="p-button-warning p-mr-2 float-right"
                                                            style="margin-right: 0.5em"
                                                            (click)="addOnderbreking(item)"
                                                        ></button>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-onderbreking let-editing="editing" let-index="rowIndex">
                                                <tr [pEditableRow]="onderbreking">
                                                    <td pEditableColumn>
                                                        <p-cellEditor>
                                                            <ng-template pTemplate="input">
                                                                <input
                                                                    pInputText
                                                                    type="datetime-local"
                                                                    max="9999-12-31T23:59"
                                                                    [ngModel]="
                                                                        onderbreking.effectieveStart !== null
                                                                            ? (onderbreking.effectieveStart | date: 'yyyy-MM-ddTHH:mm')
                                                                            : ''
                                                                    "
                                                                    (ngModelChange)="onderbreking.effectieveStart = newDate($event)"
                                                                />
                                                            </ng-template>
                                                            <ng-template pTemplate="output">
                                                                <span *ngIf="onderbreking.effectieveStart != null">{{
                                                                    onderbreking.effectieveStart !== null
                                                                        ? (onderbreking.effectieveStart | date: 'dd-MM-yyyy HH:mm')
                                                                        : ''
                                                                }}</span>
                                                                <span *ngIf="onderbreking.effectieveStart == null" class="red-placeholder"
                                                                    >Start</span
                                                                >
                                                            </ng-template>
                                                        </p-cellEditor>
                                                    </td>
                                                    <td pEditableColumn>
                                                        <p-cellEditor>
                                                            <ng-template pTemplate="input">
                                                                <input
                                                                    pInputText
                                                                    type="datetime-local"
                                                                    max="9999-12-31T23:59"
                                                                    [ngModel]="
                                                                        onderbreking.effectiefEinde !== null
                                                                            ? (onderbreking.effectiefEinde | date: 'yyyy-MM-ddTHH:mm')
                                                                            : ''
                                                                    "
                                                                    (ngModelChange)="onderbreking.effectiefEinde = newDate($event)"
                                                                />
                                                            </ng-template>
                                                            <ng-template pTemplate="output">
                                                                <span *ngIf="onderbreking.effectiefEinde != null">{{
                                                                    onderbreking.effectiefEinde !== null
                                                                        ? (onderbreking.effectiefEinde | date: 'dd-MM-yyyy HH:mm')
                                                                        : ''
                                                                }}</span>
                                                                <span *ngIf="onderbreking.effectiefEinde == null" class="red-placeholder">Einde</span>
                                                            </ng-template>
                                                        </p-cellEditor>
                                                    </td>
                                                    <td pEditableColumn>
                                                        <p-cellEditor>
                                                            <ng-template pTemplate="input">
                                                                <p-dropdown
                                                                    appendTo="body"
                                                                    [style]="{width: '100%'}"
                                                                    [options]="onderbrekingstypes"
                                                                    optionLabel="label"
                                                                    [(ngModel)]="onderbreking.type"
                                                                    (ngModelChange)="onderbreking.type = $event.id"
                                                                >
                                                                </p-dropdown>
                                                            </ng-template>
                                                            <ng-template pTemplate="output">
                                                                <span *ngIf="onderbreking.type != null">{{
                                                                    onderbrekingstypes[onderbreking.type].label
                                                                }}</span>
                                                                <span *ngIf="onderbreking.type == null" class="red-placeholder">Type</span>
                                                            </ng-template>
                                                        </p-cellEditor>
                                                    </td>
                                                    <td style="text-align: center">
                                                        <button
                                                            pButton
                                                            pRipple
                                                            icon="pi pi-trash"
                                                            class="p-button p-button-danger"
                                                            (click)="deleteOnderbreking(item, onderbreking)"
                                                        ></button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="emptymessage">
                                                <tr>
                                                    <td colspan="4">Er zijn nog geen onderbrekingen om weer te geven!</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                Er zitten {{ bewerkteEffectieveDiensten ? bewerkteEffectieveDiensten.length : 0 }} diensten in het systeem.
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div></div
>
