<div class="row">
    <div class="col-12">
        <div class="card marginTop10">
            <div class="card-header">
                <h2 class="d-inline">
                    <i class="fa fa-fw fa-file-invoice"></i>
                    <strong>Loonfiche van</strong>
                    <button
                        pButton
                        pRipple
                        [label]="this.loonficheTabel.busChauffeur.voornaam + ' ' + this.loonficheTabel.busChauffeur.achternaam"
                        class="p-button-secondary p-button-outlined p-mr-2 naamButton"
                        (click)="redirectTo('buschauffeur-info', this.loonficheTabel.busChauffeur)"
                        style="margin-left: 0.7em"
                    ></button>
                </h2>
                <button
                    pButton
                    pRipple
                    [label]="'Verwijderen'"
                    icon="pi pi-trash"
                    class="p-button-danger float-right"
                    (click)="this.deleteLoonficheSetting()"
                    [disabled]="this.loonficheTabel.verkregenLoonficheSetting === null"
                ></button>

                <button
                    pButton
                    pRipple
                    [disabled]="
                        this.loonficheTabel.verkregenLoonficheSetting == null ||
                        this.loonficheTabel.bewerkteLoonficheSetting == null ||
                        !this.loonficheTabel.bewerkteLoonficheSetting.isAllesCorrect() ||
                        !this.compare() ||
                        this.loonficheTabel.totaalDagExports == undefined ||
                        this.loonficheTabel.totaalDagExports.totaalAT == undefined ||
                        this.loonficheTabel.bewerkteLoonficheSetting.gewerkteUrenDezeMaand != this.loonficheTabel.totaalDagExports.totaalAT
                    "
                    label="Exporteren"
                    icon="pi pi-print"
                    class="p-button-info p-mr-2 float-right"
                    (click)="printFiche()"
                    style="margin-right: 0.5em"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Opslaan"
                    icon="pi pi-save"
                    style="margin-right: 0.5em"
                    class="p-button-success p-mr-2 float-right"
                    [disabled]="
                        !(
                            this.loonficheTabel.verkregenLoonficheSetting == null ||
                            this.loonficheTabel.bewerkteLoonficheSetting == null ||
                            !this.loonficheTabel.bewerkteLoonficheSetting.isAllesCorrect() ||
                            !this.compare() ||
                            this.loonficheTabel.totaalDagExports == undefined ||
                            this.loonficheTabel.totaalDagExports.totaalAT == undefined ||
                            this.loonficheTabel.bewerkteLoonficheSetting.gewerkteUrenDezeMaand != this.loonficheTabel.totaalDagExports.totaalAT
                        )
                    "
                    (click)="loonficheSettingOpslaan()"
                ></button>
                <button
                    pButton
                    pRipple
                    [label]="this.tabelVisible ? 'Bewerk loonfiche' : 'Toon loonfiche'"
                    icon="pi pi-table"
                    class="p-button-warning p-mr-2 float-right"
                    style="margin-right: 0.5em"
                    [disabled]="
                        !this.compare() ||
                        this.loonficheTabel.verkregenLoonficheSetting == null ||
                        !this.loonficheTabel.bewerkteLoonficheSetting.isAllesCorrect()
                    "
                    (click)="changeTabelView()"
                ></button>
            </div>
            <div class="card-body">
                <div class="col-12" *ngIf="this.loonficheTabel.bewerkteLoonficheSetting != null">
                    <div class="row align-bottom">
                        <div class="col-1 text-left">
                            <button class="btn btn-primary marginBottom10" (click)="veranderHuidigeMaand(-1)">
                                <i class="fa fa-fw fa-arrow-left"></i>
                            </button>
                        </div>
                        <div class="col-10 text-center">
                            <h2 class="d-inline">{{ getHuidigeMaand() }}</h2>
                        </div>
                        <div class="col-1 text-right">
                            <button class="btn btn-primary marginBottom10" (click)="veranderHuidigeMaand(1)">
                                <i class="fa fa-fw fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                    <app-loonfiche-bewerken
                        *ngIf="!tabelVisible"
                        [loonficheTabel]="this.loonficheTabel"
                        [loading]="this.loading"
                    ></app-loonfiche-bewerken>
                    <app-loonfiche-tabel *ngIf="tabelVisible" [loonficheTabel]="this.loonficheTabel" [loading]="this.loading"></app-loonfiche-tabel>
                </div>
            </div>
        </div>
    </div>
</div>
