th,
td {
    font-size: 0.7em;
    padding: 10px;
}

tr:hover {
    background-color: lightgray !important;
}

.table td,
.table th {
    white-space: nowrap;
    width: 1%;
}

.totaal {
    font-weight: bold;
}
