<div class="row">
    <div class="col-12">
        <div class="card marginTop10">
            <div class="card-header">
                <h2 class="d-inline"
                    ><i class="fa fa-fw fa-file-invoice"></i><strong> Loonlijst van</strong>
                    <button
                        pButton
                        pRipple
                        [label]="busChauffeur.voornaam + ' ' + busChauffeur.achternaam"
                        class="p-button-secondary p-button-outlined p-mr-2 naamButton"
                        (click)="redirectTo('buschauffeur-info', busChauffeur)"
                        style="margin-left: 0.7em"
                    ></button
                ></h2>
                <button
                    pButton
                    pRipple
                    label="Exporteren"
                    icon="pi pi-print"
                    class="p-button-info p-mr-2 float-right"
                    (click)="printLoonlijst()"
                    style="margin-right: 0.5em"
                ></button>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <div class="row align-bottom">
                        <div class="col-1 text-left">
                            <button class="btn btn-primary marginBottom10" (click)="veranderHuidigeMaand(-1)">
                                <i class="fa fa-fw fa-arrow-left"></i>
                            </button>
                        </div>
                        <div class="col-10 text-center">
                            <h2 class="d-inline">{{ getHuidigeMaand() }}</h2>
                        </div>
                        <div class="col-1 text-right">
                            <button class="btn btn-primary marginBottom10" (click)="veranderHuidigeMaand(1)">
                                <i class="fa fa-fw fa-arrow-right"></i>
                            </button>
                        </div>
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-bordered loonlijst" id="afdrukken">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Datum</th>
                                            <th scope="col">Dienst</th>
                                            <th scope="col">Stel.</th>
                                            <th scope="col">Rijtijd</th>
                                            <th scope="col">Stat. AT</th>
                                            <th scope="col">Stat. Rest</th>
                                            <th scope="col">Stat 50%</th>
                                            <th scope="col">Admin.</th>
                                            <th scope="col">Ander</th>
                                            <th scope="col">Ampl.</th>
                                            <th scope="col">AP/DP</th>
                                            <th scope="col">Totaal AT</th>
                                            <th scope="col">Nacht</th>
                                            <th scope="col">Zaterd.</th>
                                            <th scope="col">Zond.</th>
                                            <th scope="col">Ond.1</th>
                                            <th scope="col">Ond.2</th>
                                            <th scope="col">Ond.3</th>
                                            <th scope="col">Onv.pres.</th>
                                            <th scope="col">Overwerk.AT</th>
                                            <th scope="col">AVC</th>
                                        </tr>
                                    </thead>
                                    <ng-container *ngIf="!loading; else loadingItemsError">
                                        <tbody>
                                            <ng-container *ngIf="!loading; else loadingItemsError">
                                                <tr *ngFor="let item of data">
                                                    <td> {{ item.dagNummer }}/{{ item.maand }}/{{ item.jaar }} {{ item.dagNaam }} </td>
                                                    <td>
                                                        <span *ngFor="let naam of item.dienstNamen; let i = index"
                                                            >{{ naam }}
                                                            <span *ngIf="i + 1 !== item.dienstNamen.length"> + </span>
                                                        </span>
                                                        <span *ngIf="item.dienstNamen.length === 0">r</span>
                                                    </td>
                                                    <td>{{ busChauffeur.stelsel }}</td>
                                                    <td>{{ msToTime(item.rijtijd) }}</td>
                                                    <td>{{ msToTime(item.statAT) }}</td>
                                                    <td>{{ msToTime(item.statRest) }}</td>
                                                    <td>{{ msToTime(item.stat50) }}</td>
                                                    <td>{{ minutesToTime(item.admin) }}</td>
                                                    <td>{{ minutesToTime(item.ander) }}</td>
                                                    <td>{{ msToTime(item.ampl) }}</td>
                                                    <td>{{ minutesToTime(item.apdp) }}</td>
                                                    <td>{{ msToTime(item.totaalAT) }}</td>
                                                    <td>{{ msToTime(item.nacht) }}</td>
                                                    <td>{{ msToTime(item.zat) }}</td>
                                                    <td>{{ msToTime(item.zon) }}</td>
                                                    <td>{{ item.ond1 }}</td>
                                                    <td>{{ item.ond2 }}</td>
                                                    <td>{{ item.ond3 }}</td>
                                                    <td>{{ minutesToTime(item.onvPres) }}</td>
                                                    <td>{{ minutesToTime(item.overwerk) }}</td>
                                                    <td>00:00</td>
                                                </tr>
                                                <tr class="totaal">
                                                    <td>Totaal:</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>{{ msToTime(this.totaal.rijtijd) }}</td>
                                                    <td>{{ msToTime(this.totaal.statAT) }}</td>
                                                    <td>{{ msToTime(this.totaal.statRest) }}</td>
                                                    <td>{{ msToTime(this.totaal.stat50) }}</td>
                                                    <td>{{ minutesToTime(this.totaal.admin) }}</td>
                                                    <td>{{ minutesToTime(this.totaal.ander) }}</td>
                                                    <td>{{ msToTime(this.totaal.ampl) }}</td>
                                                    <td>{{ minutesToTime(this.totaal.apdp) }}</td>
                                                    <td>{{ msToTime(this.totaal.totaalAT) }}</td>
                                                    <td>{{ msToTime(this.totaal.nacht) }}</td>
                                                    <td>{{ msToTime(this.totaal.zat) }}</td>
                                                    <td>{{ msToTime(this.totaal.zon) }}</td>
                                                    <td>{{ this.totaal.ond1 }}</td>
                                                    <td>{{ this.totaal.ond2 }}</td>
                                                    <td>{{ this.totaal.ond3 }}</td>
                                                    <td>{{ minutesToTime(this.totaal.onvPres) }}</td>
                                                    <td>{{ minutesToTime(this.totaal.overwerk) }}</td>
                                                    <td>00:00</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </ng-container>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingItemsError>
    <tr>
        <td colspan="21" class="text-center">
            <div class="spinner-border spinner" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </td>
    </tr>
</ng-template>
