<div class="row">
    <div class="col-12">
        <div class="card marginTop10">
            <div class="card-header">
                <h2 class="d-inline"><i class="fa fa-fw fa-birthday-cake"></i><strong> Feestdagen aanpassen</strong></h2>
                <button
                    pButton
                    pRipple
                    label="Wijzigingen ongedaan maken"
                    icon="pi pi-refresh"
                    class="p-button-info p-mr-2 float-right"
                    (click)="wijzigingenOngedaanMaken()"
                    [disabled]="this.compare()"
                    style="margin-right: 0.5em"
                ></button>
                <button
                    *ngIf="!loadingFeestdagen"
                    pButton
                    pRipple
                    label="Opslaan"
                    icon="pi pi-save"
                    class="p-button-success p-mr-2 float-right"
                    (click)="feestdagenAanpassen()"
                    style="margin-right: 0.5em"
                    [disabled]="this.compare()"
                ></button>
                <button
                    *ngIf="loadingFeestdagen"
                    pButton
                    pRipple
                    label="Opslaan"
                    icon="pi pi-spin pi-spinner"
                    class="p-button-success p-mr-2 float-right"
                    style="margin-right: 0.5em"
                ></button>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <p-table
                        #dt
                        [resizableColumns]="true"
                        [autoLayout]="true"
                        [value]="bewerkteFeestdagen"
                        [loading]="loadingFeestdagen"
                        editMode="row"
                        [globalFilterFields]="['naam', 'dag']"
                        [(selection)]="geselecteerdeFeestdagen"
                        [rowHover]="true"
                        dataKey="dataKey"
                        [showCurrentPageReport]="true"
                    >
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input
                                        pInputText
                                        type="text"
                                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Zoeken..."
                                    />
                                </span>
                                <button
                                    pButton
                                    pRipple
                                    [label]="'Verwijderen'"
                                    icon="pi pi-trash"
                                    class="p-button-danger float-right"
                                    (click)="this.deleteFeestdag(geselecteerdeFeestdagen)"
                                    [disabled]="!geselecteerdeFeestdagen || !geselecteerdeFeestdagen.length"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    label="Feestdag toevoegen"
                                    icon="pi pi-plus"
                                    class="p-button-warning p-mr-2 float-right"
                                    style="margin-right: 0.5em"
                                    (click)="addFeestdag()"
                                ></button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="naam">Naam <p-sortIcon field="naam"></p-sortIcon> </th>
                                <th pSortableColumn="dag">Datum <p-sortIcon field="dag"></p-sortIcon> </th>
                                <th style="width: 7rem"> </th
                            ></tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="item"></p-tableCheckbox>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="item.naam" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.naam != null && item.naam != ''">{{ item.naam }}</span>
                                            <span *ngIf="item.naam == null || item.naam == ''" class="red-placeholder">Naam</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-calendar
                                                [(ngModel)]="item.dag"
                                                appendTo="body"
                                                dateFormat="dd/mm/yy"
                                                [locale]="this.locale"
                                            ></p-calendar>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.dag != null">{{ item.dag !== null ? (item.dag | date: 'dd/MM/yyyy') : '' }}</span>
                                            <span *ngIf="item.dag == null" class="red-placeholder">Dag</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <button
                                        pButton
                                        pRipple
                                        icon="pi pi-trash"
                                        class="p-button p-button-danger"
                                        (click)="deleteFeestdag([item])"
                                    ></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                Er zitten {{ bewerkteFeestdagen ? bewerkteFeestdagen.length : 0 }} feestdagen in het systeem.
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
