<div class="row">
    <div class="col-12">
        <div class="card marginTop10 marginBottom10">
            <div class="card-header">
                <h2 class="d-inline"><i class="fa fa-fw fa-user-tie"></i><strong> Buschauffeur overzicht</strong></h2>
                <button
                    pButton
                    pRipple
                    label="Wijzigingen ongedaan maken"
                    icon="pi pi-refresh"
                    class="p-button-info p-mr-2 float-right"
                    (click)="wijzigingenOngedaanMaken()"
                    [disabled]="this.compare()"
                    style="margin-right: 0.5em"
                ></button>
                <button
                    *ngIf="!loadingBusChauffeurs"
                    pButton
                    pRipple
                    label="Opslaan"
                    icon="pi pi-save"
                    class="p-button-success p-mr-2 float-right"
                    (click)="buschauffeursOpslaan()"
                    style="margin-right: 0.5em"
                    [disabled]="this.compare()"
                ></button>
                <button
                    *ngIf="loadingBusChauffeurs"
                    pButton
                    pRipple
                    label="Opslaan"
                    icon="pi pi-spin pi-spinner"
                    class="p-button-success p-mr-2 float-right"
                    style="margin-right: 0.5em"
                ></button>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <p-table
                        #dt
                        [resizableColumns]="true"
                        [autoLayout]="true"
                        [value]="bewerkteBusChauffeurs"
                        [loading]="loadingBusChauffeurs"
                        editMode="row"
                        [columns]="geselecteerdeKolommen"
                        [globalFilterFields]="[
                            'voornaam',
                            'achternaam',
                            'uurloon',
                            'geboorteDatum',
                            'aantalDagenJaarlijksVerlof',
                            'overUren',
                            'straatnaam',
                            'huisnummer',
                            'stad',
                            'postcode',
                            'land',
                            'afstandKM',
                            'stelsel.id'
                        ]"
                        [(selection)]="geselecteerdeChauffeurs"
                        [rowHover]="true"
                        dataKey="dataKey"
                        [showCurrentPageReport]="true"
                    >
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input
                                        pInputText
                                        type="text"
                                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Zoeken..."
                                    />
                                    <p-multiSelect
                                        [options]="kolommen"
                                        [(ngModel)]="geselecteerdeKolommen"
                                        optionLabel="header"
                                        selectedItemsLabel="{0}/13 kolommen geselecteerd"
                                        [style]="{minWidth: '200px'}"
                                        placeholder="Kies kolommen"
                                    ></p-multiSelect>
                                </span>
                                <button
                                    pButton
                                    pRipple
                                    [label]="'Verwijderen'"
                                    icon="pi pi-trash"
                                    class="p-button-danger float-right"
                                    (click)="this.deleteBuschauffeur(geselecteerdeChauffeurs)"
                                    [disabled]="!geselecteerdeChauffeurs || !geselecteerdeChauffeurs.length"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    label="Buschauffeur toevoegen"
                                    icon="pi pi-plus"
                                    class="p-button-warning p-mr-2 float-right"
                                    style="margin-right: 0.5em"
                                    (click)="addBuschauffeur()"
                                ></button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th *ngFor="let col of _geselecteerdeKolommen" [pSortableColumn]="col.field"
                                    >{{ col.header }}<p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="item"></p-tableCheckbox>
                                </td>
                                <td pEditableColumn *ngIf="this.kolomGeselecteerd('voornaam')">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="item.voornaam" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.voornaam != null">{{ item.voornaam }}</span>
                                            <span *ngIf="item.voornaam == null" class="red-placeholder">Voornaam</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn *ngIf="this.kolomGeselecteerd('achternaam')">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="item.achternaam" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.achternaam != null">{{ item.achternaam }}</span>
                                            <span *ngIf="item.achternaam == null" class="red-placeholder">Achternaam</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn *ngIf="this.kolomGeselecteerd('uurloon')">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-inputNumber
                                                [(ngModel)]="item.uurloon"
                                                [minFractionDigits]="4"
                                                mode="currency"
                                                currency="EUR"
                                                locale="de-DE"
                                            ></p-inputNumber>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.uurloon != null">{{ item.uurloon | currency: 'EUR':'symbol':'1.4-4' }}</span>
                                            <span *ngIf="item.uurloon == null" class="red-placeholder">Uurloon</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn *ngIf="this.kolomGeselecteerd('geboorteDatum')">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-calendar
                                                appendTo="body"
                                                [(ngModel)]="item.geboorteDatum"
                                                dateFormat="dd/mm/yy"
                                                [locale]="this.locale"
                                            ></p-calendar>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.geboorteDatum != null">{{
                                                item.geboorteDatum !== null ? (item.geboorteDatum | date: 'dd/MM/yyyy') : ''
                                            }}</span>
                                            <span *ngIf="item.geboorteDatum == null" class="red-placeholder">geboortedatum</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn *ngIf="this.kolomGeselecteerd('straatnaam')">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="item.straatnaam" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.straatnaam != null && item.straatnaam != ''">{{ item.straatnaam }}</span>
                                            <span *ngIf="item.straatnaam == null || item.straatnaam == ''" class="red-placeholder">Straatnaam</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn *ngIf="this.kolomGeselecteerd('huisnummer')">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="item.huisnummer" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.huisnummer != null && item.huisnummer != ''">{{ item.huisnummer }}</span>
                                            <span *ngIf="item.huisnummer == null || item.huisnummer == ''" class="red-placeholder">Huisnummer</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn *ngIf="this.kolomGeselecteerd('postcode')">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="item.postcode" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.postcode != null && item.postcode != ''">{{ item.postcode }}</span>
                                            <span *ngIf="item.postcode == null || item.postcode == ''" class="red-placeholder">Postcode</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn *ngIf="this.kolomGeselecteerd('stad')">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="item.stad" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.stad != null && item.stad != ''">{{ item.stad }}</span>
                                            <span *ngIf="item.stad == null || item.stad == ''" class="red-placeholder">Stad</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn *ngIf="this.kolomGeselecteerd('land')">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="item.land" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.land != null && item.land != ''">{{ item.land }}</span>
                                            <span *ngIf="item.land == null || item.land == ''" class="red-placeholder">Land</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn *ngIf="this.kolomGeselecteerd('afstandKM')">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-inputNumber [(ngModel)]="item.afstandKM"></p-inputNumber>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.afstandKM != null">{{ item.afstandKM }}</span>
                                            <span *ngIf="item.afstandKM == null" class="red-placeholder">Afstand (KM)</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn *ngIf="this.kolomGeselecteerd('stelsel.id')">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown
                                                appendTo="body"
                                                [style]="{width: '100%'}"
                                                [options]="stelsels"
                                                optionLabel="label"
                                                [(ngModel)]="item.stelsel"
                                                (ngModelChange)="item.stelsel = $event.id"
                                            >
                                            </p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.stelsel != null">{{ item.stelsel }}: {{ stelsels[item.stelsel].label }}</span>
                                            <span *ngIf="item.stelsel == null" class="red-placeholder">Stelsel</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn *ngIf="this.kolomGeselecteerd('overUren')">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input
                                                [disabled]="!this.instellingen.overurenAanpassen && item.overUren != null"
                                                type="text"
                                                class="form-control"
                                                id="overurenOpnemen"
                                                [ngModel]="this.msToTime(item.overUren)"
                                                (focusout)="this.item.overUren = this.timeToMs($event.target.value, 'overurenOpnemen')"
                                                (keydown.enter)="this.item.overUren = this.timeToMs($event.target.value, 'overurenOpnemen')"
                                                />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.overUren != null">{{ this.msToTime(item.overUren) }}</span>
                                            <span *ngIf="item.overUren == null" class="red-placeholder">Overuren</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn *ngIf="this.kolomGeselecteerd('aantalDagenJaarlijksVerlof')">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-inputNumber [(ngModel)]="item.aantalDagenJaarlijksVerlof"></p-inputNumber>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="item.aantalDagenJaarlijksVerlof != null">{{ item.aantalDagenJaarlijksVerlof }}</span>
                                            <span *ngIf="item.aantalDagenJaarlijksVerlof == null" class="red-placeholder">Aantal dagen JV</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <button
                                        pButton
                                        pRipple
                                        icon="pi pi-calendar-minus"
                                        class="p-button p-button-warning p-mr-2"
                                        (click)="redirectTo('buschauffeur-info', item)"
                                        style="margin-right: 0.3em"
                                    ></button>
                                    <button
                                        pButton
                                        pRipple
                                        icon="pi pi-trash"
                                        class="p-button p-button-danger"
                                        (click)="deleteBuschauffeur([item])"
                                    ></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                Er zitten {{ bewerkteBusChauffeurs ? bewerkteBusChauffeurs.length : 0 }} buschauffeurs in het systeem.
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingItemsError>
    <tr>
        <td colspan="6" class="text-center">
            <div class="spinner-border spinner" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </td>
    </tr>
</ng-template>
