<div class="row">
    <div class="col-12">
        <div class="card marginTop10">
            <div class="card-header">
                <h2 class="d-md-inline"><i class="fa fa-fw fa-cogs"></i><strong> Instellingen aanpassen</strong></h2>
                <button
                    pButton
                    pRipple
                    label="Opslaan"
                    icon="pi pi-save"
                    class="p-button-success p-mr-2 float-right"
                    (click)="instellingenOpslaan()"
                    style="margin-right: 0.5em"
                    [disabled]="this.compare()"
                ></button>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <p-tabMenu #tab [model]="items" [activeItem]="activeItem" (click)="activateMenu(tab)"></p-tabMenu>
                    <div class="row align-bottom" *ngIf="this.bewerkteInstellingen != null">
                        <!--algemeen-->
                        <ng-container *ngIf="this.activeItem.label == 'Algemeen'">
                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="overurenAanpassen" class="marginTop20"></label>Default geselecteerde kolommen bij buschauffeur tabel:<br />
                                <p-multiSelect
                                    [options]="kolommen"
                                    [ngModel]="this.bewerkteInstellingen.localBuschauffeurTabel"
                                    (ngModelChange)="this.setBcTabelCols($event)"
                                    optionLabel="header"
                                    selectedItemsLabel="{0}/13 kolommen geselecteerd"
                                    [style]="{Width: '100%'}"
                                    placeholder="Kies kolommen"
                                    id="overurenAanpassen"
                                ></p-multiSelect>
                            </div>
                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="localBuschauffeurTabel" class="marginTop20"
                                    >Overuren buschauffeur handmatig aanpassen
                                    <span *ngIf="this.instellingenService.timerTijd != null"
                                        >(blijft nog {{ this.instellingenService.timerTijd }} geldig)</span
                                    >:</label
                                ><br />
                                <p-inputSwitch [(ngModel)]="this.bewerkteInstellingen.overurenAanpassen"></p-inputSwitch>
                            </div>
                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="aantalUrenStandaardWerkdag" class="marginTop20">Aantal uren voor werkdag:</label>
                                <input
                                    type="text"
                                    pInputText
                                    [style]="{display: 'block'}"
                                    id="aantalUrenStandaardWerkdag"
                                    [ngModel]="this.msToTime(this.bewerkteInstellingen.aantalUrenStandaardWerkdag)"
                                    (focusout)="
                                        this.bewerkteInstellingen.aantalUrenStandaardWerkdag = this.timeToMs(
                                            $event.target.value,
                                            'aantalUrenStandaardWerkdag'
                                        )
                                    "
                                    (keydown.enter)="
                                        this.bewerkteInstellingen.aantalUrenStandaardWerkdag = this.timeToMs(
                                            $event.target.value,
                                            'aantalUrenStandaardWerkdag'
                                        )
                                    "
                                />
                            </div>
                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="werktijdFeestdag" class="marginTop20">Aantal uren voor feestdag:</label>
                                <input
                                    type="text"
                                    pInputText
                                    [style]="{display: 'block'}"
                                    id="werktijdFeestdag"
                                    [ngModel]="this.msToTime(this.bewerkteInstellingen.werktijdFeestdag)"
                                    (focusout)="this.bewerkteInstellingen.werktijdFeestdag = this.timeToMs($event.target.value, 'werktijdFeestdag')"
                                    (keydown.enter)="
                                        this.bewerkteInstellingen.werktijdFeestdag = this.timeToMs($event.target.value, 'werktijdFeestdag')
                                    "
                                />
                            </div>
                        </ng-container>
                        <!--loonlijst-->
                        <ng-container *ngIf="this.activeItem.label == 'Loonlijst'">
                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="aantalMinutenAdministratieveTijdVoorDienst" class="marginTop20"
                                    >Aantal administratieve minuten / dienst:</label
                                >
                                <input
                                    pInputText
                                    [style]="{display: 'block'}"
                                    id="aantalMinutenAdministratieveTijdVoorDienst"
                                    type="text"
                                    [ngModel]="this.msToTime(this.bewerkteInstellingen.aantalMinutenAdministratieveTijdVoorDienst)"
                                    (focusout)="
                                        this.bewerkteInstellingen.aantalMinutenAdministratieveTijdVoorDienst = this.timeToMs(
                                            $event.target.value,
                                            'aantalMinutenAdministratieveTijdVoorDienst'
                                        )
                                    "
                                    (keydown.enter)="
                                        this.bewerkteInstellingen.aantalMinutenAdministratieveTijdVoorDienst = this.timeToMs(
                                            $event.target.value,
                                            'aantalMinutenAdministratieveTijdVoorDienst'
                                        )
                                    "
                                />
                            </div>
                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="aantalMinutenAdministratieveTijdVoorDienstMetMeerDan2Onderbrekingen" class="marginTop20"
                                    >Aantal administratieve minuten voor dienst met 2 onderbrekingen:</label
                                >
                                <input
                                    type="text"
                                    pInputText
                                    [style]="{display: 'block'}"
                                    id="aantalMinutenAdministratieveTijdVoorDienstMetMeerDan2Onderbrekingen"
                                    [ngModel]="
                                        this.msToTime(this.bewerkteInstellingen.aantalMinutenAdministratieveTijdVoorDienstMetMeerDan2Onderbrekingen)
                                    "
                                    (focusout)="
                                        this.bewerkteInstellingen.aantalMinutenAdministratieveTijdVoorDienstMetMeerDan2Onderbrekingen = this.timeToMs(
                                            $event.target.value,
                                            'aantalMinutenAdministratieveTijdVoorDienstMetMeerDan2Onderbrekingen'
                                        )
                                    "
                                    (keydown.enter)="
                                        this.bewerkteInstellingen.aantalMinutenAdministratieveTijdVoorDienstMetMeerDan2Onderbrekingen = this.timeToMs(
                                            $event.target.value,
                                            'aantalMinutenAdministratieveTijdVoorDienstMetMeerDan2Onderbrekingen'
                                        )
                                    "
                                />
                            </div>
                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="amplitudeMiliseconds" class="marginTop20">Amplitude:</label>
                                <input
                                    type="text"
                                    pInputText
                                    [style]="{display: 'block'}"
                                    id="amplitudeMiliseconds"
                                    [ngModel]="this.msToTime(this.bewerkteInstellingen.amplitudeMiliseconds)"
                                    (focusout)="
                                        this.bewerkteInstellingen.amplitudeMiliseconds = this.timeToMs($event.target.value, 'amplitudeMiliseconds')
                                    "
                                    (keydown.enter)="
                                        this.bewerkteInstellingen.amplitudeMiliseconds = this.timeToMs($event.target.value, 'amplitudeMiliseconds')
                                    "
                                />
                            </div>

                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="nachtwerkStart" class="marginTop20">Start nachtwerk:</label>
                                <input
                                    type="text"
                                    pInputText
                                    [style]="{display: 'block'}"
                                    id="nachtwerkStart"
                                    [ngModel]="this.msToTime(this.bewerkteInstellingen.nachtwerkStart)"
                                    (focusout)="this.bewerkteInstellingen.nachtwerkStart = this.timeToMs($event.target.value, 'nachtwerkStart')"
                                    (keydown.enter)="this.bewerkteInstellingen.nachtwerkStart = this.timeToMs($event.target.value, 'nachtwerkStart')"
                                />
                            </div>
                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="nachtwerkEinde" class="marginTop20">Einde nachtwerk:</label>
                                <input
                                    type="text"
                                    pInputText
                                    [style]="{display: 'block'}"
                                    id="nachtwerkEinde"
                                    [ngModel]="this.msToTime(this.bewerkteInstellingen.nachtwerkEinde)"
                                    (focusout)="this.bewerkteInstellingen.nachtwerkEinde = this.timeToMs($event.target.value, 'nachtwerkEinde')"
                                    (keydown.enter)="this.bewerkteInstellingen.nachtwerkEinde = this.timeToMs($event.target.value, 'nachtwerkEinde')"
                                />
                            </div>
                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="nachtwerkVoorEindeAdministratieveTijd" class="marginTop20"
                                    >Administratieve tijd nachtwerk `s ochtends:</label
                                >
                                <input
                                    type="text"
                                    pInputText
                                    [style]="{display: 'block'}"
                                    id="nachtwerkVoorEindeAdministratieveTijd"
                                    [ngModel]="this.msToTime(this.bewerkteInstellingen.nachtwerkVoorEindeAdministratieveTijd)"
                                    (focusout)="
                                        this.bewerkteInstellingen.nachtwerkVoorEindeAdministratieveTijd = this.timeToMs(
                                            $event.target.value,
                                            'nachtwerkVoorEindeAdministratieveTijd'
                                        )
                                    "
                                    (keydown.enter)="
                                        this.bewerkteInstellingen.nachtwerkVoorEindeAdministratieveTijd = this.timeToMs(
                                            $event.target.value,
                                            'nachtwerkVoorEindeAdministratieveTijd'
                                        )
                                    "
                                />
                            </div>

                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="nachtwerkNaStartAdministratieveTijd" class="marginTop20">Administratieve tijd nachtwerk `s avonds:</label>
                                <input
                                    type="text"
                                    pInputText
                                    [style]="{display: 'block'}"
                                    id="nachtwerkNaStartAdministratieveTijd"
                                    [ngModel]="this.msToTime(this.bewerkteInstellingen.nachtwerkNaStartAdministratieveTijd)"
                                    (focusout)="
                                        this.bewerkteInstellingen.nachtwerkNaStartAdministratieveTijd = this.timeToMs(
                                            $event.target.value,
                                            'nachtwerkNaStartAdministratieveTijd'
                                        )
                                    "
                                    (keydown.enter)="
                                        this.bewerkteInstellingen.nachtwerkNaStartAdministratieveTijd = this.timeToMs(
                                            $event.target.value,
                                            'nachtwerkNaStartAdministratieveTijd'
                                        )
                                    "
                                />
                            </div>
                        </ng-container>

                        <ng-container *ngIf="this.activeItem.label == 'Loonfiche'">
                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="fietsVergoeding" class="marginTop20">Fietsvergoeding:</label>
                                <p-inputNumber
                                    [style]="{display: 'block'}"
                                    id="fietsVergoeding"
                                    [(ngModel)]="this.bewerkteInstellingen.fietsVergoeding"
                                    [minFractionDigits]="2"
                                    mode="currency"
                                    currency="EUR"
                                    locale="de-DE"
                                ></p-inputNumber>
                            </div>

                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="nachtwerk" class="marginTop20">Nachtwerk:</label>
                                <p-inputNumber
                                    [style]="{display: 'block'}"
                                    id="nachtwerk"
                                    [(ngModel)]="this.bewerkteInstellingen.nachtwerk"
                                    [minFractionDigits]="2"
                                    mode="currency"
                                    currency="EUR"
                                    locale="de-DE"
                                ></p-inputNumber>
                            </div>

                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="onderbrekingsVergoeding" class="marginTop20">Vergoeding voor onderbreking:</label>
                                <p-inputNumber
                                    [style]="{display: 'block'}"
                                    id="onderbrekingsVergoeding"
                                    [(ngModel)]="this.bewerkteInstellingen.onderbrekingsVergoeding"
                                    [minFractionDigits]="2"
                                    mode="currency"
                                    currency="EUR"
                                    locale="de-DE"
                                ></p-inputNumber>
                            </div>

                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="premie" class="marginTop20">Premie (10 dagen gewerkt per maand):</label>
                                <p-inputNumber
                                    [style]="{display: 'block'}"
                                    id="premie"
                                    [(ngModel)]="this.bewerkteInstellingen.premie"
                                    [minFractionDigits]="2"
                                    mode="currency"
                                    currency="EUR"
                                    locale="de-DE"
                                ></p-inputNumber>
                            </div>
                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="zaterdag" class="marginTop20">Zaterdag:</label>
                                <p-inputNumber
                                    [style]="{display: 'block'}"
                                    id="zaterdag"
                                    [(ngModel)]="this.bewerkteInstellingen.zaterdag"
                                    [minFractionDigits]="2"
                                    suffix=" % van uurloon"
                                ></p-inputNumber>
                            </div>

                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="gewaarborgdLoonEersteWeek" class="marginTop20">Gewaarborgd loon eerste week:</label>
                                <p-inputNumber
                                    [style]="{display: 'block'}"
                                    id="gewaarborgdLoonEersteWeek"
                                    [(ngModel)]="this.bewerkteInstellingen.gewaarborgdLoonEersteWeek"
                                    [minFractionDigits]="2"
                                    suffix=" % van uurloon"
                                ></p-inputNumber>
                            </div>
                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="gewaarborgdLoonTweedeWeek" class="marginTop20">Gewaarborgd loon tweede week:</label>
                                <p-inputNumber
                                    [style]="{display: 'block'}"
                                    id="gewaarborgdLoonTweedeWeek"
                                    [(ngModel)]="this.bewerkteInstellingen.gewaarborgdLoonTweedeWeek"
                                    [minFractionDigits]="2"
                                    suffix=" % van uurloon"
                                ></p-inputNumber>
                            </div>
                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="gewaarbordLoonLaatsteDeel" class="marginTop20">Gewaarborgd loon laatste deel:</label>
                                <p-inputNumber
                                    [style]="{display: 'block'}"
                                    id="gewaarbordLoonLaatsteDeel"
                                    [(ngModel)]="this.bewerkteInstellingen.gewaarbordLoonLaatsteDeel"
                                    [minFractionDigits]="2"
                                    suffix=" % van uurloon"
                                ></p-inputNumber>
                            </div>

                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="defaultVoorschot1" class="marginTop20">Default voorschot 1:</label>
                                <p-inputNumber
                                    [style]="{display: 'block'}"
                                    id="defaultVoorschot1"
                                    [(ngModel)]="this.bewerkteInstellingen.defaultVoorschot1"
                                    [minFractionDigits]="2"
                                    mode="currency"
                                    currency="EUR"
                                    locale="de-DE"
                                ></p-inputNumber>
                            </div>
                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="defaultVoorschot2" class="marginTop20">Default voorschot 2:</label>
                                <p-inputNumber
                                    [style]="{display: 'block'}"
                                    id="defaultVoorschot2"
                                    [(ngModel)]="this.bewerkteInstellingen.defaultVoorschot2"
                                    [minFractionDigits]="2"
                                    mode="currency"
                                    currency="EUR"
                                    locale="de-DE"
                                ></p-inputNumber>
                            </div>
                            <div class="col-12 col-md-5 offset-md-1">
                                <label for="defaultVoorschotVolgendeMaand" class="marginTop20">Default voorschot volgende maand:</label>
                                <p-inputNumber
                                    [style]="{display: 'block'}"
                                    id="defaultVoorschotVolgendeMaand"
                                    [(ngModel)]="this.bewerkteInstellingen.defaultVoorschotVolgendeMaand"
                                    [minFractionDigits]="2"
                                    mode="currency"
                                    currency="EUR"
                                    locale="de-DE"
                                ></p-inputNumber>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
