<p-tabView class="marginTop10">
    <p-tabPanel [header]="this.getTitle(item)" *ngFor="let item of tabel" [selected]="item.jaar == vandaag.getFullYear()">
        <p-table [value]="item.diensten">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nummer</th>
                    <th>Dag</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dienst let-ri="rowIndex">
                <tr>
                    <td>{{ ri + 1 }}</td>
                    <td>{{ dienst.start !== null ? (dienst.start | date: 'dd-MM-yyyy') : '' }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="2">Er is voor dit jaar geen data om weer te geven!</td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p *ngIf="this.tabel.length == 0">Geen data om weer te geven!</p>
</p-tabView>
