th,
td {
    font-size: 1em;
    padding: 10px;
}

tr:hover {
    background-color: lightgray !important;
}

.table td,
.table th {
    white-space: nowrap;
    width: 1%;
}

.totaal {
    font-weight: bold;
}

.zwart {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}
