<div class="col-12" *ngIf="this.loonficheTabel.bewerkteLoonficheSetting != null">
    <div class="table-responsive">
        <table class="table table-bordered loonlijst" id="afdrukken">
            <ng-container *ngIf="!loading && this.loonficheTabel.dagExports != null; else loadingItemsError">
                <tbody>
                    <tr>
                        <th>Werknemer</th>
                        <td>
                            {{ loonficheTabel.busChauffeur.voornaam }}
                            {{ loonficheTabel.busChauffeur.achternaam }}
                        </td>
                    </tr>
                    <tr>
                        <th>Periode</th>
                        <td>
                            {{ this.getFirstDayOfData() !== null ? (this.getFirstDayOfData() | date: 'dd/MM/yyyy') : '' }}
                            - {{ this.getLastDayOfData() !== null ? (this.getLastDayOfData() | date: 'dd/MM/yyyy') : '' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Prestatie</th>
                        <td>{{ msToTime(this.loonficheTabel.tePresterenUren) }}</td>
                    </tr>
                    <tr>
                        <th>Basisloon</th>
                        <td>{{ loonficheTabel.busChauffeur.uurloon | currency: 'EUR' }}</td>
                    </tr>
                    <tr>
                        <th>Gepresteerde arbeid</th>
                        <td>
                            {{ msToTime(this.loonficheTabel.totaalDagExports.totaalAT) }}
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>€/uur</th>
                        <th>Uren</th>
                        <th>Totaal</th>
                        <th colspan="2">Ontvangen voorschotten:</th>
                    </tr>
                    <tr>
                        <th>Nachtwerk</th>
                        <td>
                            {{ this.loonficheTabel.instellingen.nachtwerk | currency: 'EUR' }}
                        </td>
                        <td>{{ msToTime(this.loonficheTabel.totaalDagExports.nacht) }}</td>
                        <td>
                            {{ this.loonficheTabel.nachtwerk | currency: 'EUR' }}
                        </td>
                        <td>1:</td>
                        <td>
                            {{ this.loonficheTabel.bewerkteLoonficheSetting.ontvangenVoorschot1 | currency: 'EUR' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Zaterdagwerk</th>
                        <td>
                            {{ (this.loonficheTabel.instellingen.zaterdag / 100) * loonficheTabel.busChauffeur.uurloon | currency: 'EUR' }}
                        </td>
                        <td>{{ msToTime(this.loonficheTabel.totaalDagExports.zat) }}</td>
                        <td>{{ this.loonficheTabel.zaterdag | currency: 'EUR' }}</td>
                        <td>2:</td>
                        <td>
                            {{ this.loonficheTabel.bewerkteLoonficheSetting.ontvangenVoorschot2 | currency: 'EUR' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Uitbetaling overuren:</th>
                        <td>{{ this.loonficheTabel.busChauffeur.uurloon | currency: 'EUR' }}</td>
                        <td>
                            {{ msToTime(this.loonficheTabel.bewerkteLoonficheSetting.overurenOpnemen) }}
                        </td>
                        <td>
                            {{ this.loonficheTabel.uitbetalingOveruren | currency: 'EUR' }}
                        </td>
                        <td>Subtotaal:</td>
                        <td>
                            {{ this.loonficheTabel.subTotaalVoorschotten | currency: 'EUR' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Zondagwerk(100%):</th>
                        <td>{{ loonficheTabel.busChauffeur.uurloon | currency: 'EUR' }}</td>
                        <td>{{ msToTime(this.loonficheTabel.totaalDagExports.zon) }}</td>
                        <td>{{ this.loonficheTabel.zondag | currency: 'EUR' }}</td>
                        <td>Voorschot volgende maand:</td>
                        <td>
                            {{ this.loonficheTabel.bewerkteLoonficheSetting.voorschotVolgendeMaand | currency: 'EUR' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Onderbrekingen:</th>
                        <td>
                            {{ this.loonficheTabel.instellingen.onderbrekingsVergoeding | currency: 'EUR' }}
                        </td>
                        <td>{{ this.loonficheTabel.aantalOnderbrekingen }}</td>
                        <td>
                            {{
                                this.loonficheTabel.instellingen.onderbrekingsVergoeding * this.loonficheTabel.aantalOnderbrekingen | currency: 'EUR'
                            }}
                        </td>
                        <td>Loonbeslag:</td>
                        <td>
                            {{ this.loonficheTabel.bewerkteLoonficheSetting.loonbeslag | currency: 'EUR' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Premie stationnement 100%:</th>
                        <td>{{ loonficheTabel.busChauffeur.uurloon | currency: 'EUR' }}</td>
                        <td>
                            {{ msToTime(this.loonficheTabel.totaalDagExports.statAT + this.loonficheTabel.totaalDagExports.statRest) }}
                        </td>
                        <td>
                            {{ this.loonficheTabel.stationnement100 | currency: 'EUR' }}
                        </td>
                        <td class="zwart">Totaal te storten bedrag:</td>
                        <td class="zwart">
                            {{ this.loonficheTabel.totaalTeStoren | currency: 'EUR' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Premie stationnement 50%:</th>
                        <td>
                            {{ loonficheTabel.busChauffeur.uurloon / 2 | currency: 'EUR' }}
                        </td>
                        <td>{{ msToTime(this.loonficheTabel.totaalDagExports.stat50) }}</td>
                        <td>
                            {{ this.loonficheTabel.stationnement50 | currency: 'EUR' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Overwerk AT (50%)</th>
                        <td>
                            {{ loonficheTabel.busChauffeur.uurloon / 2 | currency: 'EUR' }}
                        </td>
                        <td>{{ msToTime(this.loonficheTabel.totaalDagExports.overwerk) }}</td>
                        <td>
                            {{ this.loonficheTabel.overwerk | currency: 'EUR' }}
                        </td>
                    </tr>
                    <tr>
                        <th class="zwart">Subtotaal:</th>
                        <td colspan="2"></td>
                        <td>
                            {{ this.loonficheTabel.subtotaal | currency: 'EUR' }}
                        </td>
                        <th colspan="2">Ter informatie:</th>
                    </tr>
                    <tr>
                        <th>Maandelijkse premie:</th>
                        <td colspan="2"></td>
                        <td>
                            {{ this.loonficheTabel.maandelijksePremie | currency: 'EUR' }}
                        </td>
                        <td>Gewerkte uren deze maand:</td>
                        <td>{{ msToTime(this.loonficheTabel.totaalDagExports.totaalAT) }}</td>
                    </tr>
                    <tr>
                        <th class="zwart">Algemeen totaal:</th>
                        <td colspan="2"></td>
                        <td>
                            {{ this.loonficheTabel.algemeenTotaal | currency: 'EUR' }}
                        </td>
                        <td>Te preseteren uren deze maand:</td>
                        <td>
                            {{ msToTime(this.loonficheTabel.tePresterenUren) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Gewaarborgd loon (1ste week {{ this.loonficheTabel.instellingen.gewaarborgdLoonEersteWeek }}%):</th>
                        <td>{{
                            (loonficheTabel.busChauffeur.uurloon * this.loonficheTabel.instellingen.gewaarborgdLoonEersteWeek) / 100 | currency: 'EUR'
                        }}</td>
                        <td>
                            {{ msToTime(this.loonficheTabel.bewerkteLoonficheSetting.milisecondenGewaarborgdLoonEersteWeek) }}
                        </td>
                        <td>
                            {{ this.loonficheTabel.gewaarbordLoonEersteWeek | currency: 'EUR' }}
                        </td>
                        <td>Resterende uren deze maand:</td>
                        <td>{{ msToTime(this.loonficheTabel.resterendeUrenDezeMaand) }}</td>
                    </tr>
                    <tr>
                        <th>Gewaarborgd loon (2de week {{ this.loonficheTabel.instellingen.gewaarborgdLoonTweedeWeek }})%:</th>
                        <td>
                            {{
                                (loonficheTabel.busChauffeur.uurloon * this.loonficheTabel.instellingen.gewaarborgdLoonTweedeWeek) / 100
                                    | currency: 'EUR'
                            }}
                        </td>
                        <td>
                            {{ msToTime(this.loonficheTabel.bewerkteLoonficheSetting.milisecondenGewaarborgdLoonTweedeWeek) }}
                        </td>
                        <td>
                            {{ this.loonficheTabel.gewaarbordLoonTweedeWeek | currency: 'EUR' }}
                        </td>
                        <td>Opgespaarde overuren:</td>
                        <td>{{ this.msToTime(this.loonficheTabel.opgespaardeOveruren) }}</td>
                    </tr>
                    <tr>
                        <th>Gewaarborgd loon ({{ this.loonficheTabel.instellingen.gewaarbordLoonLaatsteDeel }}%):</th>
                        <td>
                            {{
                                (loonficheTabel.busChauffeur.uurloon * this.loonficheTabel.instellingen.gewaarbordLoonLaatsteDeel) / 100
                                    | currency: 'EUR'
                            }}
                        </td>
                        <td>
                            {{ msToTime(this.loonficheTabel.bewerkteLoonficheSetting.milisecondenGewaarborgdLoonLaatsteDeel) }}
                        </td>
                        <td>
                            {{ this.loonficheTabel.gewaarbordLoonLaatsteDeel | currency: 'EUR' }}
                        </td>
                        <th colspan="2">Aanzuivering via:</th>
                    </tr>
                    <tr>
                        <th class="zwart">Brutoloon:</th>
                        <td colspan="2"></td>
                        <td>
                            {{ this.loonficheTabel.brutoloon | currency: 'EUR' }}
                        </td>
                        <td>Uitbetaling</td>
                        <td>{{ msToTime(this.loonficheTabel.bewerkteLoonficheSetting.overurenOpnemen) }}</td>
                    </tr>
                    <tr>
                        <th>Afhouding RSZ:</th>
                        <td colspan="2"></td>
                        <td>
                            {{ this.loonficheTabel.bewerkteLoonficheSetting.rsz | currency: 'EUR' }}
                        </td>
                        <td class="zwart">Saldo overuren deze maand:</td>
                        <td>{{ this.msToTime(this.loonficheTabel.saldoOverurenDezeMaand) }}</td>
                    </tr>
                    <tr>
                        <th>Belastbaar bedrag:</th>
                        <td colspan="2"></td>
                        <td>
                            {{ this.loonficheTabel.belastbaarBedrag | currency: 'EUR' }}
                        </td>
                        <td>JV nog op te nemen:</td>
                        <td>{{ this.loonficheTabel.jvNogOpTeNemen }} dagen</td>
                    </tr>
                    <tr>
                        <th>Bedrijsvoorheffing:</th>
                        <td colspan="2"></td>
                        <td>
                            {{ this.loonficheTabel.bewerkteLoonficheSetting.bedrijsvoorheffing | currency: 'EUR' }}
                        </td>
                    </tr>

                    <tr>
                        <th>Fietsvergoeding:</th>
                        <td colspan="2">
                            {{ this.loonficheTabel.instellingen.fietsVergoeding | currency: 'EUR' }}
                            x {{ this.loonficheTabel.busChauffeur.afstandKM }} km x
                            {{ this.loonficheTabel.bewerkteLoonficheSetting.fietsRitten }}
                            ritten
                        </td>
                        <td>
                            {{ this.loonficheTabel.fietsvergoeding | currency: 'EUR' }}
                        </td>
                    </tr>

                    <tr>
                        <th>ARAB vergoeding:</th>
                        <td colspan="2"></td>
                        <td>
                            {{ this.loonficheTabel.bewerkteLoonficheSetting.ARABvergoeding | currency: 'EUR' }}
                        </td>
                    </tr>

                    <tr>
                        <th class="zwart">Nettoloon:</th>
                        <td colspan="2"></td>
                        <td>
                            {{ this.loonficheTabel.nettoLoon | currency: 'EUR' }}
                        </td>
                    </tr>
                </tbody>
            </ng-container>
        </table>
    </div>
</div>

<ng-template #loadingItemsError>
    <div class="spinner-border spinner" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</ng-template>
