// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$GandaCarsAngular-primary: mat-palette($mat-indigo);
$GandaCarsAngular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$GandaCarsAngular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$GandaCarsAngular-theme: mat-light-theme($GandaCarsAngular-primary, $GandaCarsAngular-accent, $GandaCarsAngular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($GandaCarsAngular-theme);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$GandaCarsAngular-primary: mat-palette($mat-indigo);
$GandaCarsAngular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$GandaCarsAngular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$GandaCarsAngular-theme: mat-light-theme($GandaCarsAngular-primary, $GandaCarsAngular-accent, $GandaCarsAngular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($GandaCarsAngular-theme);

.marginTop10 {
    margin-top: 10px !important;
}

.marginBottom10 {
    margin-bottom: 10px !important;
}

.marginRight10 {
    margin-right: 10px !important;
}

.marginTop20 {
    margin-top: 20px;
}

.width100 {
    width: 100%;
}

.naamButton {
    color: #343a40 !important;
}

.btn-primary {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    color: white !important;
}

a:hover {
    cursor: pointer !important;
    text-decoration: underline !important;
}

.red-placeholder {
    color: red;
    text-decoration-style: dashed;
}

.grey-placeholder {
    color: grey;
    text-decoration-style: dashed;
}

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/timegrid/main.css';

.p-menuitem-link:not(.p-disabled):focus {
    box-shadow: none !important;
}

.p-menuitem-link:hover {
    text-decoration: none !important;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
