<div class="row">
    <div class="col-12">
        <div class="card marginTop10">
            <div class="card-header">
                <h2 class="d-inline">
                    <i class="fa fa-fw fa-user-tie"></i><strong> {{ busChauffeur.voornaam }} {{ busChauffeur.achternaam }}</strong>
                </h2>
                <button
                    pButton
                    pRipple
                    label="Toon loonfiche"
                    icon="pi pi-table"
                    class="p-button-info p-mr-2 float-right"
                    [routerLink]="['/toon-loonfiche/', this.kalenderDatum.getFullYear(), this.kalenderDatum.getMonth() + 1, this.busChauffeur.id]"
                    style="margin-right: 0.5em"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Toon loonlijst"
                    icon="pi pi-file-o"
                    class="p-button-info p-mr-2 float-right"
                    [routerLink]="['/toon-loonlijst/', this.kalenderDatum.getFullYear(), this.kalenderDatum.getMonth() + 1, this.busChauffeur.id]"
                    style="margin-right: 0.5em"
                ></button>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <div class="row align-bottom">
                        <div class="col-12 col-lg-6">
                            <h3 class="card-title"><i class="fa fa-fw fa-globe"></i> Algemene gegevens:</h3>
                            <table class="table-sm table-bordered marginTop10 marginBottom10 width100">
                                <tr>
                                    <th>Naam:</th>
                                    <td>{{ busChauffeur.voornaam }} {{ busChauffeur.achternaam }}</td>
                                </tr>
                                <tr>
                                    <th>Uurloon:</th>
                                    <td>{{ busChauffeur.uurloon }} euro/uur</td>
                                </tr>
                                <tr>
                                    <th>Geboorte datum:</th>
                                    <td>{{ busChauffeur.geboorteDatum !== null ? (busChauffeur.geboorteDatum | date: 'dd/MM/yyyy') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Stelsel:</th>
                                    <td>{{ busChauffeur.stelsel }}: {{ stelsels[busChauffeur.stelsel].label }}</td>
                                </tr>
                                <tr>
                                    <th>Adres:</th>
                                    <td
                                        >{{ busChauffeur.straatnaam }} {{ busChauffeur.huisnummer }}, {{ busChauffeur.postcode }}
                                        {{ busChauffeur.stad }}, {{ busChauffeur.land }}</td
                                    >
                                </tr>
                                <tr>
                                    <th>Afstand:</th>
                                    <td>{{ busChauffeur.afstandKM }} km</td>
                                </tr>
                                <tr>
                                    <th>Overuren:</th>
                                    <td>{{ this.msToTime(busChauffeur.overUren) }}</td>
                                </tr>
                                <tr>
                                    <th>Aantal dagen Jaarlijks verlof per jaar:</th>
                                    <td
                                        >{{ busChauffeur.aantalDagenJaarlijksVerlof }}
                                        <i>(nog {{ aantalDagenJaarlijksVerlofTegoed() }} tegoed in {{ huidigJaar() }})</i></td
                                    >
                                </tr>
                            </table>
                        </div>
                        <div class="col-12 col-lg-6">
                            <h3 class="card-title"><i class="fa fa-fw fa-globe"></i> Overzichten genereren:</h3>
                            <button
                                type="button"
                                icon="pi pi-image"
                                (click)="jaarlijksVerlofOverzicht()"
                                pButton
                                class="p-button-warning"
                                style="display: block; margin-bottom: 0.7em"
                                label="Jaarlijks verlof"
                            ></button>
                            <button
                                type="button"
                                icon="pi pi-heart"
                                (click)="ziekteOverzicht()"
                                pButton
                                class="p-button-warning"
                                style="display: block; margin-bottom: 0.7em"
                                label="Ziekte"
                            ></button>
                            <button
                                type="button"
                                icon="pi pi-users"
                                (click)="oudersschapVerlofOverzicht()"
                                pButton
                                class="p-button-warning"
                                style="display: block; margin-bottom: 0.7em"
                                label="Ouderschapsverlof"
                            ></button>
                        </div>
                    </div>
                    <hr />
                    <div class="row align-bottom">
                        <div class="col-12">
                            <h3 class="card-title marginTop10"><i class="fa fa-fw fa-globe"></i> Agenda:</h3>
                            <app-dienst-kalender
                                (kalenderDatum)="this.kalenderDatum = $event"
                                [busChauffeur]="busChauffeur"
                                [jumpToDate]="this.jumpToDate"
                            ></app-dienst-kalender>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
