<div class="row">
    <div class="col-12">
        <div class="card marginTop10">
            <div class="card-header">
                <h2 class="d-inline"><i class="fa fa-fw fa-clock"></i><strong> Dienst overzicht</strong></h2>
                <button
                    pButton
                    pRipple
                    label="Wijzigingen ongedaan maken"
                    icon="pi pi-refresh"
                    class="p-button-info p-mr-2 float-right"
                    (click)="wijzigingenOngedaanMaken()"
                    [disabled]="this.compare()"
                    style="margin-right: 0.5em"
                ></button>
                <button
                    *ngIf="!loadingDiensten"
                    pButton
                    pRipple
                    label="Opslaan"
                    icon="pi pi-save"
                    class="p-button-success p-mr-2 float-right"
                    (click)="dienstenOpslaan()"
                    style="margin-right: 0.5em"
                    [disabled]="this.compare()"
                ></button>
                <button
                    *ngIf="loadingDiensten"
                    pButton
                    pRipple
                    label="Opslaan"
                    icon="pi pi-spin pi-spinner"
                    class="p-button-success p-mr-2 float-right"
                    style="margin-right: 0.5em"
                ></button>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <p-table
                        #dt
                        [scrollable]="true"
                        scrollHeight="660px"
                        id="dt"
                        [resizableColumns]="true"
                        [autoLayout]="true"
                        [value]="bewerkteDiensten"
                        [globalFilterFields]="[
                            'naam',
                            'startDag.label',
                            'eindDag.label',
                            'startUur',
                            'eindUur',
                            'busChauffeur.voornaam',
                            'busChauffeur.achternaam'
                        ]"
                        [(selection)]="geselecteerdeDiensten"
                        [rowHover]="true"
                        dataKey="dataKey"
                        [showCurrentPageReport]="true"
                        [loading]="loadingDiensten"
                        [expandedRowKeys]="expandedRows"
                        sortField="naam"
                    >
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input
                                        pInputText
                                        type="text"
                                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Zoeken..."
                                    />
                                </span>
                                <button
                                    pButton
                                    pRipple
                                    [label]="'Verwijderen'"
                                    icon="pi pi-trash"
                                    class="p-button-danger float-right"
                                    (click)="this.deleteDienst(geselecteerdeDiensten)"
                                    [disabled]="!geselecteerdeDiensten || !geselecteerdeDiensten.length"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    label="Dienst toevoegen"
                                    icon="pi pi-plus"
                                    class="p-button-warning p-mr-2 float-right"
                                    style="margin-right: 0.5em"
                                    (click)="addDienst()"
                                ></button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 4rem"></th>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="naam">Naam <p-sortIcon field="naam"></p-sortIcon> </th>
                                <th pSortableColumn="startDag">Startdag <p-sortIcon field="startDag"></p-sortIcon> </th>
                                <th pSortableColumn="startUur">Startuur <p-sortIcon field="startUur"></p-sortIcon> </th>
                                <th pSortableColumn="eindDag">Einddag <p-sortIcon field="eindDag"> </p-sortIcon> </th>
                                <th pSortableColumn="eindUur">Einduur <p-sortIcon field="eindUur"> </p-sortIcon> </th>
                                <th pSortableColumn="busChauffeur.voornaam">Chauffeur <p-sortIcon field="busChauffeur.voornaam"> </p-sortIcon> </th>
                                <th style="width: 7 rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dienst let-expanded="expanded">
                            <tr>
                                <td style="width: 4rem">
                                    <button
                                        type="button"
                                        pButton
                                        pRipple
                                        [pRowToggler]="dienst"
                                        class="p-button-text p-button-rounded p-button-plain"
                                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                    ></button>
                                </td>
                                <td style="width: 3rem">
                                    <p-tableCheckbox [value]="dienst"></p-tableCheckbox>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="dienst.naam" (focusout)="dt.sortSingle()" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="dienst.naam != null && dienst.naam != ''">{{ dienst.naam }}</span>
                                            <span *ngIf="dienst.naam == null || dienst.naam == ''" class="red-placeholder">Naam</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown
                                                appendTo="body"
                                                [style]="{width: '100%'}"
                                                [options]="dagenVanDeWeek"
                                                optionLabel="label"
                                                [(ngModel)]="dienst.startDag"
                                                (ngModelChange)="dienst.startDag = $event.id; changeDag(dienst, $event, 'startDag')"
                                            >
                                            </p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="dienst.startDag != null">{{ dagenVanDeWeek[dienst.startDag].label }}</span>
                                            <span *ngIf="dienst.startDag == null" class="red-placeholder">Startdag</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input
                                                type="text"
                                                pInputText
                                                [style]="{display: 'block'}"
                                                id="startUurDienst"
                                                [ngModel]="this.dienst.startUur"
                                                (focusout)="this.dienst.startUur = this.checkTime($event.target.value, 'startUurDienst')"
                                                (keydown.enter)="this.dienst.startUur = this.checkTime($event.target.value, 'startUurDienst')"
                                            />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="dienst.startUur != null">{{ dienst.startUur }}</span>
                                            <span *ngIf="dienst.startUur == null" class="red-placeholder">Startuur</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown
                                                appendTo="body"
                                                [style]="{width: '100%'}"
                                                [options]="dagenVanDeWeek"
                                                optionLabel="label"
                                                [(ngModel)]="dienst.eindDag"
                                                (ngModelChange)="dienst.eindDag = $event.id; changeDag(dienst, $event, 'eindDag')"
                                            >
                                            </p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="dienst.eindDag != null">{{ dagenVanDeWeek[dienst.eindDag].label }}</span>
                                            <span *ngIf="dienst.eindDag == null" class="red-placeholder">Einddag</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input
                                                type="text"
                                                pInputText
                                                [style]="{display: 'block'}"
                                                id="eindUurDienst"
                                                [ngModel]="this.dienst.eindUur"
                                                (focusout)="this.dienst.eindUur = this.checkTime($event.target.value, 'eindUurDienst')"
                                                (keydown.enter)="this.dienst.eindUur = this.checkTime($event.target.value, 'eindUurDienst')"
                                            />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="dienst.eindUur != null">{{ dienst.eindUur }}</span>
                                            <span *ngIf="dienst.eindUur == null" class="red-placeholder">Einduur</span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-autoComplete
                                                appendTo="body"
                                                [(ngModel)]="dienst.busChauffeur"
                                                (ngModelChange)="dienst.busChauffeurId = $event.id"
                                                [suggestions]="searchResults"
                                                [dropdown]="true"
                                                field="voornaam"
                                                (completeMethod)="searchBuschauffeurs($event)"
                                            >
                                                <ng-template let-ch pTemplate="dienst">
                                                    <div class="ui-helper-clearfix"> {{ ch.voornaam }} {{ ch.achternaam }} </div>
                                                </ng-template>
                                            </p-autoComplete>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span *ngIf="dienst.busChauffeur != null && dienst.busChauffeur != ''"
                                                >{{ dienst.busChauffeur.voornaam }} {{ dienst.busChauffeur.achternaam }}</span
                                            >
                                            <span *ngIf="dienst.busChauffeur == '' || dienst.busChauffeur == null" class="grey-placeholder"
                                                >Onbepaald</span
                                            >
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <button
                                        pButton
                                        pRipple
                                        icon="pi pi-copy"
                                        class="p-button p-button-success"
                                        style="margin-right: 0.5em"
                                        (click)="duplicateDienst(dienst)"
                                    ></button>
                                    <button
                                        pButton
                                        pRipple
                                        icon="pi pi-trash"
                                        class="p-button p-button-danger"
                                        (click)="deleteDienst([dienst])"
                                    ></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-dienst>
                            <tr>
                                <td colspan="9">
                                    <div class="p-p-3">
                                        <p-table [value]="dienst.onderbrekingen" dataKey="dataKey" editMode="row">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pSortableColumn="startDag">Startdag <p-sortIcon field="StartDag"></p-sortIcon> </th>
                                                    <th pSortableColumn="startUur">Startuur <p-sortIcon field="StartUur"></p-sortIcon> </th>
                                                    <th pSortableColumn="eindDag">Einddag <p-sortIcon field="eindDag"></p-sortIcon> </th>
                                                    <th pSortableColumn="eindUur">Einduur <p-sortIcon field="eindUur"></p-sortIcon> </th>
                                                    <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon> </th>
                                                    <th style="width: 20em">
                                                        <button
                                                            pButton
                                                            pRipple
                                                            label=" Onderbreking toevoegen"
                                                            icon="pi pi-plus"
                                                            class="p-button-warning p-mr-2 float-right"
                                                            style="margin-right: 0.5em"
                                                            (click)="addOnderbreking(dienst)"
                                                        ></button>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-onderbreking let-editing="editing" let-index="rowIndex">
                                                <tr [pEditableRow]="onderbreking">
                                                    <td pEditableColumn>
                                                        <p-cellEditor>
                                                            <ng-template pTemplate="input">
                                                                <p-dropdown
                                                                    appendTo="body"
                                                                    [style]="{width: '100%'}"
                                                                    [options]="dagenVanDeWeek"
                                                                    optionLabel="label"
                                                                    [(ngModel)]="onderbreking.startDag"
                                                                    (ngModelChange)="onderbreking.startDag = $event.id"
                                                                >
                                                                </p-dropdown>
                                                            </ng-template>
                                                            <ng-template pTemplate="output">
                                                                <span *ngIf="onderbreking.startDag != null">{{
                                                                    dagenVanDeWeek[onderbreking.startDag].label
                                                                }}</span>
                                                                <span *ngIf="onderbreking.startDag == null" class="red-placeholder">Startdag</span>
                                                            </ng-template>
                                                        </p-cellEditor>
                                                    </td>
                                                    <td pEditableColumn>
                                                        <p-cellEditor>
                                                            <ng-template pTemplate="input">
                                                                <input
                                                                    type="text"
                                                                    pInputText
                                                                    [style]="{display: 'block'}"
                                                                    id="startUurOnderbreking"
                                                                    [ngModel]="onderbreking.startUur"
                                                                    (focusout)="
                                                                        onderbreking.startUur = this.checkTime(
                                                                            $event.target.value,
                                                                            'startUurOnderbreking'
                                                                        )
                                                                    "
                                                                    (keydown.enter)="
                                                                        onderbreking.startUur = this.checkTime(
                                                                            $event.target.value,
                                                                            'startUurOnderbreking'
                                                                        )
                                                                    "
                                                                />
                                                            </ng-template>
                                                            <ng-template pTemplate="output">
                                                                <span *ngIf="onderbreking.startUur != null">{{ onderbreking.startUur }}</span>
                                                                <span *ngIf="onderbreking.startUur == null" class="red-placeholder">Startuur</span>
                                                            </ng-template>
                                                        </p-cellEditor>
                                                    </td>
                                                    <td pEditableColumn>
                                                        <p-cellEditor>
                                                            <ng-template pTemplate="input">
                                                                <p-dropdown
                                                                    appendTo="body"
                                                                    [style]="{width: '100%'}"
                                                                    [options]="dagenVanDeWeek"
                                                                    optionLabel="label"
                                                                    [(ngModel)]="onderbreking.eindDag"
                                                                    (ngModelChange)="onderbreking.eindDag = $event.id"
                                                                >
                                                                </p-dropdown>
                                                            </ng-template>
                                                            <ng-template pTemplate="output">
                                                                <span *ngIf="onderbreking.eindDag != null">{{
                                                                    dagenVanDeWeek[onderbreking.eindDag].label
                                                                }}</span>
                                                                <span *ngIf="onderbreking.eindDag == null" class="red-placeholder">einddag</span>
                                                            </ng-template>
                                                        </p-cellEditor>
                                                    </td>
                                                    <td pEditableColumn>
                                                        <p-cellEditor>
                                                            <ng-template pTemplate="input">
                                                                <input
                                                                    type="text"
                                                                    pInputText
                                                                    [style]="{display: 'block'}"
                                                                    id="eindUurOnderbreking"
                                                                    [ngModel]="onderbreking.eindUur"
                                                                    (focusout)="
                                                                        onderbreking.eindUur = this.checkTime(
                                                                            $event.target.value,
                                                                            'eindUurOnderbreking'
                                                                        )
                                                                    "
                                                                    (keydown.enter)="
                                                                        onderbreking.eindUur = this.checkTime(
                                                                            $event.target.value,
                                                                            'eindUurOnderbreking'
                                                                        )
                                                                    "
                                                                />
                                                            </ng-template>
                                                            <ng-template pTemplate="output">
                                                                <span *ngIf="onderbreking.eindUur != null">{{ onderbreking.eindUur }}</span>
                                                                <span *ngIf="onderbreking.eindUur == null" class="red-placeholder">Einduur</span>
                                                            </ng-template>
                                                        </p-cellEditor>
                                                    </td>
                                                    <td pEditableColumn>
                                                        <p-cellEditor>
                                                            <ng-template pTemplate="input">
                                                                <p-dropdown
                                                                    appendTo="body"
                                                                    [style]="{width: '100%'}"
                                                                    [options]="onderbrekingstypes"
                                                                    optionLabel="label"
                                                                    [(ngModel)]="onderbreking.type"
                                                                    (ngModelChange)="onderbreking.type = $event.id"
                                                                >
                                                                </p-dropdown>
                                                            </ng-template>
                                                            <ng-template pTemplate="output">
                                                                <span *ngIf="onderbreking.type != null">{{
                                                                    onderbrekingstypes[onderbreking.type].label
                                                                }}</span>
                                                                <span *ngIf="onderbreking.type == null" class="red-placeholder">Type</span>
                                                            </ng-template>
                                                        </p-cellEditor>
                                                    </td>
                                                    <td style="text-align: center">
                                                        <button
                                                            pButton
                                                            pRipple
                                                            type="button"
                                                            icon="pi pi-trash"
                                                            (click)="deleteOnderbreking(dienst, onderbreking)"
                                                            class="p-button-rounded p-button-text"
                                                        ></button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="emptymessage">
                                                <tr>
                                                    <td colspan="6">Er zijn nog geen onderbrekingen om weer te geven!</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                Er zitten {{ bewerkteDiensten ? bewerkteDiensten.length : 0 }} diensten in het systeem.
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingItemsError>
    <tr>
        <td colspan="6" class="text-center">
            <div class="spinner-border spinner" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </td>
    </tr>
</ng-template>
