<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #leftSidenav mode="side" opened>
        <div class="sidenav_container" [@onSideNavChange]="sidebarOpen ? 'open' : 'close'">
            <div fxLayout="column" fxLayoutGap="1000px" style="height: 100%">
                <div class="sidebar">
                    <div class="up">
                        <div class="nav-item bars" (click)="onSinenavToggle()">
                            <i [hidden]="sidebarOpen" class="fas fa-bars fa-2x"></i>
                            <i [hidden]="!sidebarOpen" class="fas fa-times fa-2x"></i>
                        </div>
                        <div class="nav-item" [routerLink]="['/buschauffeur-overzicht']" (click)="closeOnNavigate()">
                            <i class="fas fa-user-tie fa-2x"></i>
                            <span [@animateText]="linkText ? 'show' : 'hide'">Buschauffeurs </span>
                        </div>
                        <div class="nav-item" [routerLink]="['/dienst-overzicht']" (click)="closeOnNavigate()">
                            <i class="fas fa-clock fa-2x"></i>
                            <span [@animateText]="linkText ? 'show' : 'hide'">Diensten </span>
                        </div>
                        <div class="nav-item" [routerLink]="['/feestdagen-aanpassen']" (click)="closeOnNavigate()">
                            <i class="fas fa-birthday-cake fa-2x"></i>
                            <span [@animateText]="linkText ? 'show' : 'hide'">Feestdagen </span>
                        </div>
                        <div class="nav-item" [routerLink]="['/instellingen-aanpassen']" (click)="closeOnNavigate()">
                            <i class="fas fa-cogs fa-2x"></i>
                            <span [@animateText]="linkText ? 'show' : 'hide'">Instellingen </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content [@onMainContentChange]="sidebarOpen ? 'open' : 'close'">
        <div class="container-fluid">
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
