$breeteSidebar: 80px;

.sidenav_container {
    width: $breeteSidebar;
    height: 100vh;
    background-color: #001738 !important;
    .sidebar {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        .bars {
            color: #00aeef !important;
            &:hover {
                color: white !important;
            }
        }
        .up {
            .nav-item {
                border-bottom: 1px solid #003768;
            }
        }
        .down {
            .nav-item {
                border-top: 1px solid #003768;
            }
        }
        .up,
        .down {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            cursor: pointer;
            color: white !important;
            width: 100%;
            .nav-item {
                text-align: center;
                width: 100%;
                display: flex;
                align-items: center;

                i {
                    //border: 1px solid red;
                    padding: 14px;
                    width: $breeteSidebar !important;
                }
                &:focus {
                    border-color: none;
                    box-shadow: none;
                    outline: 0 none;
                }

                &:hover {
                    i {
                        border-left: 5px solid #00aeef;
                        margin-right: 5px;
                        width: calc(#{$breeteSidebar} - 5px) !important;
                        //margin-right: 5px;
                    }
                    background-color: #275782;
                }
            }
        }
    }
}

.container-fluid {
    width: calc(100vw - #{$breeteSidebar});
    height: 100vh;
}
