<p-toast position="bottom-center"></p-toast>
<app-sidebar>
    <router-outlet></router-outlet>
</app-sidebar>
<p-confirmDialog
    [acceptLabel]="'Ja'"
    [rejectLabel]="'Neen'"
    [style]="{width: '40vw'}"
    key="positionDialog"
    [position]="'bottom'"
    [baseZIndex]="10000"
>
</p-confirmDialog>
