<ng-container *ngIf="!loading && this.loonficheTabel.dagExports != null; else loadingItemsError">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <h2>Ziekte</h2>
                </div>
                <div class="col-12">
                    <label for="milisecondenGewaarborgdLoonEersteWeek" class="marginTop10"
                        >Uren ziekte (1ste week {{ this.loonficheTabel.instellingen.gewaarborgdLoonEersteWeek }}%):</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="milisecondenGewaarborgdLoonEersteWeek"
                        [ngModel]="this.msToTime(this.loonficheTabel.bewerkteLoonficheSetting.milisecondenGewaarborgdLoonEersteWeek)"
                        (focusout)="
                            this.loonficheTabel.bewerkteLoonficheSetting.milisecondenGewaarborgdLoonEersteWeek = this.timeToMs(
                                $event.target.value,
                                'milisecondenGewaarborgdLoonEersteWeek'
                            )
                        "
                        (keydown.enter)="
                            this.loonficheTabel.bewerkteLoonficheSetting.milisecondenGewaarborgdLoonEersteWeek = this.timeToMs(
                                $event.target.value,
                                'milisecondenGewaarborgdLoonEersteWeek'
                            )
                        "
                    />
                </div>
                <div class="col-12">
                    <label for="milisecondenGewaarborgdLoonTweedeWeek" class="marginTop10"
                        >Uren ziekte (2de week {{ this.loonficheTabel.instellingen.gewaarborgdLoonTweedeWeek }}%):</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="milisecondenGewaarborgdLoonTweedeWeek"
                        [ngModel]="this.msToTime(this.loonficheTabel.bewerkteLoonficheSetting.milisecondenGewaarborgdLoonTweedeWeek)"
                        (focusout)="
                            this.loonficheTabel.bewerkteLoonficheSetting.milisecondenGewaarborgdLoonTweedeWeek = this.timeToMs(
                                $event.target.value,
                                'milisecondenGewaarborgdLoonTweedeWeek'
                            )
                        "
                        (keydown.enter)="
                            this.loonficheTabel.bewerkteLoonficheSetting.milisecondenGewaarborgdLoonTweedeWeek = this.timeToMs(
                                $event.target.value,
                                'milisecondenGewaarborgdLoonTweedeWeek'
                            )
                        "
                    />
                </div>
                <div class="col-12">
                    <label for="milisecondenGewaarborgdLoonLaatsteDeel" class="marginTop10"
                        >Uren ziekte (laatste deel {{ this.loonficheTabel.instellingen.gewaarbordLoonLaatsteDeel }}%):</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="milisecondenGewaarborgdLoonLaatsteDeel"
                        [ngModel]="this.msToTime(this.loonficheTabel.bewerkteLoonficheSetting.milisecondenGewaarborgdLoonLaatsteDeel)"
                        (focusout)="
                            this.loonficheTabel.bewerkteLoonficheSetting.milisecondenGewaarborgdLoonLaatsteDeel = this.timeToMs(
                                $event.target.value,
                                'milisecondenGewaarborgdLoonLaatsteDeel'
                            )
                        "
                        (keydown.enter)="
                            this.loonficheTabel.bewerkteLoonficheSetting.milisecondenGewaarborgdLoonLaatsteDeel = this.timeToMs(
                                $event.target.value,
                                'milisecondenGewaarborgdLoonLaatsteDeel'
                            )
                        "
                    />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <h2>Sociaal secretatiaat</h2>
                </div>
                <div class="col-12">
                    <label for="rsz" class="marginTop10">Afhouding RSZ:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">€</span>
                        </div>
                        <input type="number" class="form-control" id="rsz" [(ngModel)]="this.loonficheTabel.bewerkteLoonficheSetting.rsz" />
                    </div>
                </div>
                <div class="col-12">
                    <label for="bedrijsvoorheffing" class="marginTop10">Bedrijfsvoorheffing:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">€</span>
                        </div>
                        <input
                            type="number"
                            class="form-control"
                            id="bedrijsvoorheffing"
                            [(ngModel)]="this.loonficheTabel.bewerkteLoonficheSetting.bedrijsvoorheffing"
                        />
                    </div>
                </div>
                <div class="col-12">
                    <label for="fietsRitten" class="marginTop10">Aantal fietsritten:</label>
                    <input
                        type="number"
                        class="form-control"
                        id="fietsRitten"
                        [(ngModel)]="this.loonficheTabel.bewerkteLoonficheSetting.fietsRitten"
                    />
                </div>
                <div class="col-12">
                    <label for="ARABvergoeding" class="marginTop10">ARAB vergoeding:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">€</span>
                        </div>
                        <input
                            type="number"
                            class="form-control"
                            id="ARABvergoeding"
                            [(ngModel)]="this.loonficheTabel.bewerkteLoonficheSetting.ARABvergoeding"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <h2>Voorschotten en overuren</h2>
                </div>
                <div class="col-12">
                    <label for="ontvangenVoorschot1" class="marginTop10">Ontvangen voorschot 1:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">€</span>
                        </div>
                        <input
                            type="number"
                            class="form-control"
                            id="ontvangenVoorschot1"
                            [(ngModel)]="this.loonficheTabel.bewerkteLoonficheSetting.ontvangenVoorschot1"
                        />
                    </div>
                </div>
                <div class="col-12">
                    <label for="ontvangenVoorschot2" class="marginTop10">Ontvangen voorschot 2:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">€</span>
                        </div>
                        <input
                            type="number"
                            class="form-control"
                            id="ontvangenVoorschot2"
                            [(ngModel)]="this.loonficheTabel.bewerkteLoonficheSetting.ontvangenVoorschot2"
                        />
                    </div>
                </div>
                <div class="col-12">
                    <label for="voorschotVolgendeMaand" class="marginTop10">Voorschot volgende maand:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">€</span>
                        </div>
                        <input
                            type="number"
                            class="form-control"
                            id="voorschotVolgendeMaand"
                            [(ngModel)]="this.loonficheTabel.bewerkteLoonficheSetting.voorschotVolgendeMaand"
                        />
                    </div>
                </div>
                <div class="col-12">
                    <label for="overurenOpnemen" class="marginTop10">Overuren opnemen:</label>
                    <input
                        id="overurenOpnemen"
                        type="text"
                        class="form-control"
                        [ngModel]="this.msToTime(this.loonficheTabel.bewerkteLoonficheSetting.overurenOpnemen)"
                        (focusout)="
                            this.loonficheTabel.bewerkteLoonficheSetting.overurenOpnemen = this.timeToMs($event.target.value, 'overurenOpnemen')
                        "
                        (keydown.enter)="
                            this.loonficheTabel.bewerkteLoonficheSetting.overurenOpnemen = this.timeToMs($event.target.value, 'overurenOpnemen')
                        "
                    />
                </div>
                <div class="col-12">
                    <label for="loonBeslag" class="marginTop10">Loonbeslag:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">€</span>
                        </div>
                        <input
                            type="number"
                            class="form-control"
                            id="loonBeslag"
                            [(ngModel)]="this.loonficheTabel.bewerkteLoonficheSetting.loonbeslag"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loadingItemsError>
    <div class="spinner-border spinner" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</ng-template>
